@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Ubuntu';
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

header {
    border-bottom: solid 1px rgb(204, 204, 204);
    padding: 20px 40px 25px 40px;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-size: 82px;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 10px 0px;
    color: rgb(73, 73, 73);
}

p {
    color: gray;
    font-size: 14px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.headerNav {
    display: inline-block;
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 0;
    vertical-align: middle;
}

.navItem {
    display: inline-block;
    position: relative;
}

button {
    background-color: #00BBAC;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    font-size: 16px;
}

button:hover {
    background-color: #07B1A2;
    cursor: pointer;
}

.mainSection {
    width: 85%;
    margin: 10% auto 0px auto;
}

.mainButton {
    font-size: 24px;
    padding: 22px 44px;
    margin: 20px auto 80px auto;
}

#navButton {
    margin: 0px;
}

#navLogin {
    margin: 0px 10px 0px 20px;
    font-size: 16px;
}

#navLogin:hover {
    color: rgb(70, 70, 70);
    cursor: pointer;
}

#planSnapshot {
    box-shadow: 1 2px 4px 0 rgba(0,0,0,0.5), 1 1px 5px 0 rgba(0,0,0,0.5);
}

#logo {
    width: 60px;
    height: 30px;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.footer {
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    margin: 60px auto 0px auto; 
}